#app {
  margin: 0;
  padding: 0;
  width: 98vw;
  resize: none;
  -webkit-app-region: drag;
  overflow-x: hidden;
}

#ipt-tk {
  -webkit-app-region: no-drag;
}

#btn-tk {
  -webkit-app-region: no-drag;
}

#btn-tk-edit {
  -webkit-app-region: no-drag;
}

#btn-tk-get {
  -webkit-app-region: no-drag;
}

#div-operate {
  -webkit-app-region: no-drag;
  display: flex;
}

#div-operate-slot {
  flex: 0.8
}

#select-model {
  width: 75%;
}

#btn {
  -webkit-app-region: no-drag;
  flex: 0.2;
  justify-content: flex-end;
}

#ipt-box {
  margin: 0;
  padding: 0;
  width: 98%;
  -webkit-app-region: no-drag;
  font-size: 18px;
}

#hr-top {
  height: 1px;
  border: 0;
  border-top: 2px dashed #a2a9b6;
}