#app {
  margin: 0;
  padding: 0;
  width: 98vw;
  height: 80vh;
  resize: none;
  -webkit-app-region: drag;
  background: rgb(219, 209, 209);
}

#ipt-box {
  margin: 0;
  padding: 0;
  width: inherit;
  height: 100%;
  -webkit-app-region: no-drag;

  font-size: 24px;
}

#btn {
  -webkit-app-region: no-drag;
}