#app {
  margin: 0;
  padding: 0;
  width: 98vw;
  resize: none;
  -webkit-app-region: drag;
}

#ipt-box {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-app-region: no-drag;

  font-size: 20px;
}

#hr-top {
  height: 1px;
  border: 0;
  border-top: 2px dashed #a2a9b6;
}